class Env {
  // Gemini AI
  static const String geminiApiKey = 'AQUI_VAI_A_TUA_CHAVE_GEMINI';

  // EmailJS
  static const String emailJsServiceId  = 'AQUI_VAI_O_SERVICE_ID';
  static const String emailJsTemplateId = 'AQUI_VAI_O_TEMPLATE_ID';
  static const String emailJsPublicKey  = 'AQUI_VAI_A_PUBLIC_KEY';
  static const String emailJsPrivateKey = 'AQUI_VAI_A_PRIVATE_KEY';
}
